# ==========================================
# 🤖 НАСТРОЙКИ ТЕЛЕГРАМ БОТА
# ==========================================
# Токен бота от @BotFather
TG_TOKEN=

# ID пользователей, которым разрешен доступ (через запятую)
ALLOWED_USERS_ID=123,321,777

# Прокси для обхода блокировок (раскомментируй, если будешь использовать для обхода блокировки тг. Если что, xray скачан уже в контейнере, тебе только надо по инструкции закинуть свой конфиг)
BOT_PROXY=http://xray:10808

# ==========================================
# 🧠 НАСТРОЙКИ НЕЙРОСЕТИ (API)
# ==========================================
# Ключ от твоего провайдера (Яндекс/OpenAI/и т.д.)
OPENAI_API_KEY=

# Базовый URL API
OPENAI_API_BASE=

# Название модели (с префиксом провайдера, как требует LiteLLM/Aider)
OPENAI_API_MODEL=

# ==========================================
# 📁 НАСТРОЙКИ КОНТЕКСТА (Необязательно)
# ==========================================
# Имена файлов по умолчанию, из которых Aider будет брать ТЗ и дизайн
FIGMA_STATE_PATH=figma_state.txt
TASKS_PATH=tasks.md


# ==========================================
# НАСТРОЙКИ репозиториев и прав
# ==========================================

# папка, где будут хранится все ваши репозитории (примечение: все репозитории должны быть в корне)
REPOS_PATH=/home/rovno-dev/REPO_KEYS_MAP

# приватные ключи, которые прокинутся в контейнер aider_agent
SSH_KEYS=id_ed25519

# ВАЖНО для прав. Маппинг (название_папки_репозитория:имя_ключа:название_ветки_для_ии_агента) через запятую
REPO_KEYS_MAP=test_figma:id_ed25519:ai,rovno-dev-frontend:id_ed25519:ai